form {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 2px;
    border: 1px solid gray;
    margin: auto;
}

.form-col-1,
.form-col-2,
.form-col-3,
.form-col-4 {
    display: flex;
    flex-direction: column;
    border: 1px dotted limegreen;
    margin: 0%;
    padding: 0px;
}

.form-elem {
    display: flex;
    padding: 5px;
    margin: auto;
}

.form-row-1,
.form-row-2 {
    display: flex;
    margin: 5px;
    flex-direction: row;

}

.form-row-2 {
    display: flex;
    margin: auto;

}

form img {
    height: 30px;
    width: 30px;
}
