html,
body {
    max-width: 100em;
    margin: auto;
    max-height: 200em;
}

#main-section {
    height: 100%;
    width: 75%;
    background-color: lightsteelblue;
    margin: auto;
}

header,
footer {
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgb(96, 0, 96);
    text-align: center;
    margin: auto;
    padding: auto;
    padding-bottom: 40px;
    margin: 1em auto;
}

#top-section {
    height: 100%;
    width: 100%;
    background-color: rgb(245, 245, 220);
    margin: auto;
    padding: auto;
}

table {
    border: 1px solid #FFFFFF;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
}

table th {
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
    background-color: rgb(5, 74, 29);
}

table button {
    border: none;
    height: 30px;
    width: 30px;
}


table tr:nth-child(even) {
    background-color: #CECECE;
}